.Combobox {
  position: relative;
  height: 2.5rem;
  border: 2px solid var(--input-idle);
  border-radius: .25rem;
}

.Combobox__Label {
  color: var(--input-idle);
  position: absolute;
  top: 0;
  left: .75rem;
  font-size: 1rem;
  pointer-events: none;
  transform: scale(0.75);
  transform-origin: left top;
}

.Combobox__Input {
  appearance: none;
  outline: none;
  font-size: 1rem;
  width: 100%;
  height: 100%;
  border: none;
  padding: 11px .75rem 1px;
  text-align: left;
  background: transparent;
  line-height: 1.75rem;
  letter-spacing: .009375em;
}

.Combobox-focused {
  border-color: var(--input-focused);
}

.Combobox-focused > .Combobox__Label {
  color: var(--input-focused);
}

.Combobox__Chevron {
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 2rem;
  width: 2rem;
}
