.Button {
  font-size: 1rem;
  display: inline-flex;
  align-items: center;
  background-color: #edf2f7;
  color: #2d3748;
  height: 2rem;
  border-radius: .25rem;
  border: none;
  outline: none;
  cursor: pointer;
  transform-origin: center center;
  transition: transform .2s ease-in-out;
}

.Button:active {
  transform: scale(0.9);
}

.Button:hover,
.Button:focus {
  background-color: #cbd5e0;
}


.Button-primary {
  background: var(--primary-bg);
  color: var(--primary-text);
}

.Button-primary:hover,
.Button-primary:focus {
  background: #5a67d8;
}
